apiVersion: v1
kind: Deployment
metadata:
  name: fastapi-users
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fa-users
  template:
    metadata:
      labels:
        app: fa-users
    spec:
      containers:
        - image: hieronymusa/prva_py
          name: fa-users
          ports:
            - containerPort: 8082
              name: server
              protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: fa-users
spec:
  type: ClusterIP
  ports:
    - port: 8082
      protocol: TCP
      targetPort: server
  selector:
    app: fa-users